<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nerv.clock">
    
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="30" />
    
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NervClock"
        android:hardwareAccelerated="true">

        <!-- Widget Receiver -->
        <receiver
            android:name=".NervClockWidget"
            android:label="@string/widget_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.nerv.clock.ACTION_STOP" />
                <action android:name="com.nerv.clock.ACTION_SLOW" />
                <action android:name="com.nerv.clock.ACTION_NORMAL" />
                <action android:name="com.nerv.clock.ACTION_RACING" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>
</manifest>
